.formulario {
    background-color: #f0f6ff;
    border-radius: 4%
}


.imagenbanner {
    border-radius: 40px;
}

.botonenviarcontact{
    margin: 20px;
    background-color: #FA3F3F;
    padding: 12px;
    width: 400px;
    color: white;
}
.botonenviarcontact:hover{
   background-color: #FABA26;
}