:root {
	--color-fondo: #fff;
	--color-primario: #778899;
	--color-secundario: #FABA26;
	--color-secundarioDos: #FA3F3F;
	--fuente-color-primario: #ffffff;
	--fuente-color-secundario: #000;
	--fuente-color-secundarioDos: #696969;
	--fuente-principal: ;
	--fuente-secundaria: ;
	--fuente-tamanio-titulo: 2rem;
	--fuente-tamanio-titulo-tablet: 2.5rem;
	--fuente-tamanio-titulo-desktop: 3rem;
	--fuente-tamanio-subtitulo: 1.5rem;
	--fuente-tamanio-subtitulo-tablet: 2rem;
	--fuente-tamanio-subtitulo-desktop: 2.5rem;
	--fuente-tamanio-parrafo: 1rem;
	--fuente-tamanio-parrafo-tablet: 1.15rem;
	--fuente-tamanio-parrafo-desktop: 1.25rem;
}

.container {
    width: 100%;
    background-color: #efefef ;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out; 
}


.container:hover  {
    box-shadow: 0px 5px 15px red;
}

.botonregis {
    background-color: red;
    color: white;
}

.botonregis:hover {
    background-color: #FABA26;
}

.titulo {
    padding: 15px;
}