<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secciones</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="./secciones.css" rel="stylesheet">
</head>

<body>
  <section>
    <div class="container">
      <!--Primera sección de la página-->
      <div class="row mt-5">
        <h4>Novedades</h4>
        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroTaylor.png" class="card-img-top mt-2" alt="libro: TAYLOR">
          <div class="card-body">
            <h5 class="card-title">TAYLOR:</h5>
            <p class="card-text">FROM THE VAULT</p>
            <p>AR$ 8.299,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/misDiasenlaLibreria.png" class="card-img-top mt-2" alt="libro: MIS DIAS EN LA LIBRERIA MORISAKI">
          <div class="card-body">
            <h6 class="card-title">MIS DIAS EN LA LIBRERIA MORISAKI</h6>
            <p class="card-text">YAGISAWA, SATOSHI</p>
            <p>AR$ 7.390,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroRosario.png" class="card-img-top mt-2" alt="libro: ROSARIO">
          <div class="card-body">
            <h5 class="card-title">ROSARIO</h5>
            <p class="card-text">DE LOS SANTOS, GERMAN</p>
            <p>AR$ 8.999,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroSpreen.png" class="card-img-top mt-2" alt="libro: SPREEN">
          <div class="card-body">
            <h6 class="card-title">SPREEN</h6>
            <p class="card-text">LO MEJOR Y LO PEOR DE INTERNET</p>
            <p>AR$ 9.999,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <!--Segunda sección de la página-->
      <div class="row mt-5">
        <h4>Los más vendidos del mes</h4>
        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroBritney.jpg" class="card-img-top mt-2" alt="libro: LA MUJER QUE SOY">
          <div class="card-body">
            <h5 class="card-title">LA MUJER QUE SOY</h5>
            <p class="card-text">SPEARS, BRITNEY</p>
            <p>AR$ 8.999,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroEstedolorNoesmio.png" class="card-img-top mt-2" alt="libro: ESTE DOLOR NO ES MIO">
          <div class="card-body">
            <h5 class="card-title">ESTE DOLOR NO ES MIO</h5>
            <p class="card-text">WOLYNN, MARK</p>
            <p>AR$ 11.500,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroLanata.png" class="card-img-top mt-2" alt="libro: OXIDO">
          <div class="card-body">
            <h5 class="card-title">OXIDO</h5>
            <p class="card-text">LANATA, JORGE</p>
            <p>AR$ 14.999,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroElpoderdelasPalabras.png" class="card-img-top mt-2" alt="libro:EL PODER DE LAS PALABRAS">
          <div class="card-body">
            <h6 class="card-title">EL PODER DE LAS PALABRAS</h6>
            <p class="card-text">SIGMAN, MARIANO</p>
            <p>AR$ 13.899,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
  
      </div>
      <!--Tercera sección de la página-->
      <div class="row mt-5">
        <h4>Recomendaciones</h4>
        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroCuadra.png" class="card-img-top mt-2" alt="libro: CUADRA">
          <div class="card-body">
            <h5 class="card-title">CUADRA</h5>
            <p class="card-text">CHEHIN, MAXIMO</p>
            <p>AR$ 9.600,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroDiariodeunaSoledad.png" class="card-img-top mt-2" alt="libro: DIARIO DE UNA SOLEDAD">
          <div class="card-body">
            <h6 class="card-title">DIARIO DE UNA SOLEDAD</h6>
            <p class="card-text">SARTON, MAY</p>
            <p>AR$ 10.290,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroElartedeViajar.png" class="card-img-top mt-2" alt="libro: EL ARTE DE VIAJAR">
          <div class="card-body">
            <h5 class="card-title">EL ARTE DE VIAJAR</h5>
            <p class="card-text">MUJICA LAINEZ, MANUEL</p>
            <p>AR$ 10.900,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card ms-3 text-center" style="width: 18rem;">
          <img src="./img/libroVidaReal.png" class="card-img-top mt-2" alt="libro: VIDA REAL">
          <div class="card-body">
            <h5 class="card-title">VIDA REAL</h5>
            <p class="card-text">TAYLOR, BRANDON</p>
            <p>AR$ 9.900,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous">
  </script>
  
</body>

</html>